body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
  max-width: 1200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#semantle_error {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: red;
  font-weight: bold;
}

#semantle_status {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: green;
  font-weight: bold;
}

table thead th { border-bottom: 1px solid #000; }

table tbody th{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

form {
  width: 100%;
}

#guess {
  width: 80%;
  min-height: 1.5em;
  font-size: 1.2em;
}
#guess_button {
  width: 15%;
  min-height: 1.5em;
  font-size: 1.2em;
}

#share_button{
  width: 60%;
  min-height: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  color:green;
  background-color:ivory;
  
  margin:0 auto;
  display:block;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.2em;
  font-family: sans-serif;
  width: 100%;
  max-width: 800px
}

.smaller-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  font-family: sans-serif;
  width: 80%;
  max-width: 600px
}

#solution {
  border:1px solid black;
  background-color: lavender;
  width:fit-content
}

#similar-words {
  border:1px solid black;
  background-color: lavenderblush;
  /* width:fit-content; */
  margin:.1em;
}

.collapsible {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  float: right;
  /* margin-left: 5px; */
  border: 0pt;
  background-color: transparent;
}